.viewContainer {
  display: block;
  margin: 0 auto;
  width: 80%;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.17);
  padding: 1rem;
  height: 90vh;
}

.viewContainer h3 {
  text-align: center;
}

.viewContainer input[type="text"] {
  display: block;
  width: 90%;
  margin: 0 auto;
  max-width: 90%;
  padding: .5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.07);
  box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.25);
}

.viewContainer ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;

}

.viewContainer li {
  padding: .5rem;
  margin: 1rem 0;
  background-color: rgba(0,0,0,0.15);
  border-radius: .5rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

.viewContainer a {
  text-decoration: none;
  color: rgba(0,0,0,95);
}
