
<div class="viewContainer">
  <h3>Sök stad</h3>
  <input type="text" placeholder="Standsnamn" (keyup)="searchField($event)" />


  <ul *ngIf="cities !== null && cities.length > 0">
    <li *ngFor="let city of cities">
      <a routerLink="/result/{{city.Id}}">{{city.Name}}</a>
    </li>
  </ul>
</div>
