<div *ngIf="trip !== null">
  <h3>{{trip.Destination.Name}}</h3>
  <label>Avgång: {{trip.Origin.StartTime}}</label>
  <br />
  <label>Ankommsttid: {{trip.Destination.ArivalTime}}</label>
  <hr />
  <h3>Väder vid ankommst</h3>
  <label>{{weatherPhrase}}</label>
  <br />
  <span style="font-size: 5rem">{{trip.WeatherForcast.Temp}}</span>  <label style="vertical-align: top; font-size: 2rem">°C</label>
  <br />
  <label>Vind: </label>
  <div class="compas"[ngStyle]="{'-webkit-transform': winddirection, 'transform': winddirection, '-ms-transform': winddirection, '-moz-transform': winddirection}">
  ^</div>
  <label> {{trip.WeatherForcast.WindSpeed}} m/s</label>
</div>
